<!DOCTYPE html>
<html lang="en"></html>

{% include "header.html" %}

<body>
<div class="row">
        <div class="side1">
            <h2>SHANGHAI</h2>
            <div class="img" >
            <h3> an economic hub and financial center </h3>
            <img src='/static/images/shanghai.png' width="600" height=auto alt="" />
            <p>..</p>
            </div>
        </div>

        <div class="side2">
            <h2>标题</h2>
            <h5>副标题</h5>
            <div class="img">图像</div>
            <p>一些文本..</p>
            <br>
        </div>

      <div class="side3">
            <h2>标题</h2>
            <h5>副标题</h5>
            <div class="img">图像</div>
            <p>一些文本..</p>
            <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
            <br>
        </div>
      </div>
      
      {% include "footer.html" %}
    </body>
</html>

