<!DOCTYPE html>
<html lang="en"></html>

{% include "header.html" %}

<body>
<div class="row">
        <div class="side1">
            <h2>SHANGHAI</h2>
            <div class="img" >
            <h3> an economic hub and financial center </h3>
            <img src='/static/images/shanghai.png' width="600" height=auto alt="" />
            <p>..</p>
            </div>
        </div>

        <div class="side1">
            <h2>Pics of CHINA</h2>
            <div class="img">图像</div>
            <p>一些文本..</p>
            <br>
        </div>
        </div>
</body>

</html>

{% include "footer.html" %}
